{% extends 'posts/base.html' %}
{% load staticfiles %}
{% block main %}
<!-- Main Left side -->
    <div class="row">
         <div class="col-md-12">
            <!-- The Article -->
            <div class="artcl-main float-width">
               <div class="artcl-prev-nxt float-width">
                  <div class="artcl-prev w50 blocky">

                     <a href="{{ details.get_next_by_publish.get_absolute_url }}"><i class="fa fa-angle-left"></i> PREV ARTICLE</a>
                     <p>{{ details.get_next_by_publish.title }}</p>
                  </div>
                  <div class="artcl-nxt w50 blocky text-right">
                     <a href="{{ details.get_previous_by_publish.get_absolute_url }}">NEXT ARTICLE <i class="fa fa-angle-right"></i></a>
                     <p>{{ details.get_previous_by_publish.title }}</p>
                  </div>
               </div>
               <div class="artcl-body float-width">
                  <h2>{{ details.title }}</h2>
                  <h5>
                     <span><i class="fa fa-user"></i>{{ details.user }}</span>
                     <span><i class="fa fa-clock-o"></i>{{ details.publish }}</span>
                     <span><i class="fa fa-comment-o"></i>21 comments</span>
                  </h5>
                  <article class="float-width articl-data">
                     <img alt="" src="{{ details.image.url }}" />
                     <p class="detail-content">
                         {{ details.content }}
                     </p>
                  </article>
               </div>
            </div>
            <!-- The Article Social Media Share -->
            <div class="artcl-scl float-width">
               <div class="tags">
                    <strong>Tagged:</strong>

                    {% for tag in details.tags.all %}
                      <a href="#" rel="tag">{{ tag.name }}</a>
                    {% empty %}
                        <p>No Tags</p>
                    {% endfor %}
                </div>
               <div class="righty artcl-shr">
                  <ul>
                     <li>
                        <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-width="100" data-type="button"></div>
                     </li>
                     <li>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
                     </li>
                     <li>
                        <a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&amp;media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&amp;description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="none"><img alt="" src="../../assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- Article Author Bio -->
            <div class="author-bio float-width">
               <h3 class="float-width">john smithowsky</h3>
               <div class="author-info">
                  <img alt="" src="img/samples/a2.jpg" />
                  <p>
                     Aliquam tristique vehicula nulla sit amet facilisis. Nulla ultrices vitae eros at semper. Donec sapien lacus, tincidunt sed sem quis, accumsan mollis eros. Aenean id enim dolor. Suspendisse potenti.
                  </p>
                  <ul>
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                     <li><a href="#"><i class="fa fa-rss"></i></a></li>
                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                     <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                     <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
               </div>
            </div>
            <!-- Article Comments Section -->
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
            <!-- related Articles  -->
            <div class="artcl-reltd float-width">
               <h3 class="sec-title">RELATED POSTS</h3>
               <div class="reltd-sngl">
                  <img alt="" src="img/samples/e1.jpg">
                  <div class="reltd-sngl-txt">
                     <h3>After party of Blondi Concert will begin tomorrow </h3>
                     <p><i class="fa fa-clock-o"></i>20 Jan 2014</p>
                  </div>
               </div>
               <div class="reltd-sngl">
                  <img alt="" src="img/samples/e2.jpg">
                  <div class="reltd-sngl-txt">
                     <h3>After party of Blondi Concert will begin tomorrow </h3>
                     <p><i class="fa fa-clock-o"></i>20 Jan 2014</p>
                  </div>
               </div>
               <div class="reltd-sngl">
                  <img alt="" src="img/samples/e3.jpg">
                  <div class="reltd-sngl-txt">
                     <h3>After party of Blondi Concert will begin tomorrow </h3>
                     <p><i class="fa fa-clock-o"></i>20 Jan 2014</p>
                  </div>
               </div>
               <div class="reltd-sngl">
                  <img alt="" src="img/samples/e4.jpg">
                  <div class="reltd-sngl-txt">
                     <h3>After party of Blondi Concert will begin tomorrow </h3>
                     <p><i class="fa fa-clock-o"></i>20 Jan 2014</p>
                  </div>
               </div>
            </div>
         </div>
    </div>
{% endblock %}